<ion-header>
    <ion-navbar>
        <ion-title>首页</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="accountInfo">
        <ion-item *ngIf="accountInfo.accountType >= 500">
            <button ion-button outline (click)="dealWithArea()" >区域处理</button>
        </ion-item>
        <ion-item *ngIf="accountInfo.accountType >= 200">
            <button ion-button outline (click)="dealWithShop()">商户处理</button>
        </ion-item>
        <ion-item *ngIf="accountInfo.accountType >= 500">
            <button ion-button outline (click)="dealWithTemplate()">模版维护</button>
        </ion-item>
    </ion-list>
</ion-content>
